* {
  box-sizing: border-box;
}
body {
  background-color: white;
  color: black;
  font-family: 'Bitter', serif;
  padding: 32px;
}
.container {
  border: 1px solid black;
  border-radius: 4px;
  padding: 32px;
}


input, select, button {
  height: 1.5rem;
  width: 150px;
  margin: 8px 8px 8px 0;
}
label {
  display: flex;
  justify-content: space-evenly;
}
button {
  color: white;
  background-color: blue;
  border: 1px solid black;
}
button:disabled{
  cursor: not-allowed;
  color: darkgray;
  border-color: darkgray;
}
.submit{
  display: flex;
  justify-content: flex-end;
}